* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.mediaLinks {
    position: relative;
    top: 40%;
}

.titleCard {
    width: 100%;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {}

@media only screen and (max-width: 600px) and (orientation: landscape) {}

@media only screen and (min-width: 601px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}