* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.mediaLinks {
    position: relative;
    top: 40%;
}

.titleCard {
    position: relative;
}

#DamionDen {
    width: 100%;
    display: block;
}

.faceOff {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#faceOffBackground {
    position: relative;
    width: 250%;
}

.jpGroup {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 100%;
}

#jpHeadshot {
    width: 30%;
}

#jpText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.damionGroup {
    position: absolute;
    top: 27%;
    left: 5%;
    width: 100%;
}

#damionHeadshot {
    width: 30%;
}

#damionText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.joelGroup {
    position: absolute;
    top: 52%;
    left: 5%;
    width: 100%;
}

#joelHeadshot {
    width: 30%;
}

#joelText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.boGroup {
    position: absolute;
    top: 77%;
    left: 5%;
    width: 100%;
}

#boHeadshot {
    width: 30%;
}

#boText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.trailer {
    position: relative;
    margin-top: 50%;
}

.carosoul {
    position: relative;
    top: 110%;
    width: 100%;
    height: 140%;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {}

@media only screen and (max-width: 600px) and (orientation: landscape) {}

@media only screen and (min-width: 601px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}