* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.mediaLinks {
    position: relative;
    top: 40%;
}

.titleCard {
    position: relative;
}

#DamionDen {
    width: 100%;
    display: block;
}

.synopsis {
    position: relative;
    width: 100%;
    justify-content: center;
    background-color: maroon;
}

#synopsis {
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(235, 235, 15);
}

.faceOff {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#faceOffBackground {
    position: relative;
    width: 250%;
}

.jpGroup {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 100%;
}

#jpHeadshot {
    width: 30%;
}

#jpText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.damionGroup {
    position: absolute;
    top: 27%;
    left: 5%;
    width: 100%;
}

#damionHeadshot {
    width: 30%;
}

#damionText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.joelGroup {
    position: absolute;
    top: 52%;
    left: 5%;
    width: 100%;
}

#joelHeadshot {
    width: 30%;
}

#joelText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.boGroup {
    position: absolute;
    top: 77%;
    left: 5%;
    width: 100%;
}

#boHeadshot {
    width: 30%;
}

#boText {
    position: absolute;
    text-align: left;
    top: 0;
    left: 35%;
    margin-right: 5%;
}

.carosoul {
    position: relative;
    width: 100%;
    justify-content: center;
}

#laurelText {
    position: relative;
    text-align: center;
}

#laurel {
    width: 30%;
    display: block;
    margin: auto;
}

.trailer {
    position: relative;
    width: 100%;
}

.footer {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

#hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin-left: 10%;
    margin-right: 10%;
}

#copyrightText {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    #synopsis {
        margin-left: 35%;
        margin-right: 10%;
        text-align: left;
    }
    .jpGroup {
        position: absolute;
        top: 2%;
        left: 30%;
        width: 60%;
    }
    #jpHeadshot {
        width: 30%;
    }
    #jpText {
        position: absolute;
        text-align: left;
        top: 40%;
        left: 35%;
        margin-right: 5%;
    }
    .damionGroup {
        position: absolute;
        top: 27%;
        left: 30%;
        width: 60%;
    }
    #damionHeadshot {
        width: 30%;
    }
    #damionText {
        position: absolute;
        text-align: left;
        top: 40%;
        left: 35%;
        margin-right: 5%;
    }
    .joelGroup {
        position: absolute;
        top: 52%;
        left: 30%;
        width: 60%;
    }
    #joelHeadshot {
        width: 30%;
    }
    #joelText {
        position: absolute;
        text-align: left;
        top: 40%;
        left: 35%;
        margin-right: 5%;
    }
    .boGroup {
        position: absolute;
        top: 77%;
        left: 30%;
        width: 60%;
    }
    #boHeadshot {
        width: 30%;
    }
    #boText {
        position: absolute;
        text-align: left;
        top: 40%;
        left: 35%;
        margin-right: 5%;
    }
    #b br {
        display: none;
    }
    #contactWord2 {
        font-size: 25px;
    }
}